<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link href="css/slick.css" rel="stylesheet" />
    <link href="css/slick-theme.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/mfooter.css" rel="stylesheet" />
<title>Insert title here</title>
<style>
    section {width:70%; margin:0 auto; box-shadow: 5px 5px 10px 8px lightgray; margin-top: 250px; position: relative;
    background: #fff; height:800px;} 
    
    .htext{text-align: center; font-size: 100px; height:0; position: absolute; top:355px; left:30%; color: rgb(224, 224, 224);} 
    
    /* 시작 */
    #menuList div div {display: none;}

    #menuList1:hover div{display: block;}
    #menuList2:hover div{display: block;}

    #menuList div div div:hover{color: brown;}

    #pictureBrowser button{opacity: 0.08;}
    #pictureBrowser button:hover{opacity: 1; color: white;}

    .dayNum{padding-left: 10px; padding-right: 10px;}
    .dayNum:hover{transform: perspective(100px) translateZ(50px); color: red; display: inline-block;}
    
    /* 끝 */
    
</style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            logo
            </div>
            <div id="toggle">
                <div class="span" id="one"></div>
                <div class="span" id="two"></div>
                <div class="span" id="three"></div>
            </div>
        </nav>

        <div id="resize">
            <ul class="menu">
                <li class="m-name1 m-name">
                    <a href="#" class="m-mname m-mname1"> M u s i c L i n k</a>
                    <ul class="hidden-manu1 drop">
                        <li class="menu-h"><a href="#">About us</a></li>
                        <li class="menu-h"><a href="#">F A Q</a></li>
                        <li class="menu-h"><a href="#">Q &#38; A</a></li>
                    </ul>
                </li>
                <li class="m-name2 m-name">
                    <a href="#" class="m-mname m-mname2">A r t i s t</a>
                    <ul class="hidden-manu2 drop">
                        <li class="menu-h"><a href="#">p r o f i l e</a></li>
                        <li class="menu-h"><a href="#">A - l i s t</a></li>
                        <li class="menu-h"><a href="#">r a n k</a></li>
                    </ul>
                </li>
                <li class="m-name3 m-name">
                    <a href="#" class="m-mname m-mname3">F e s t i v a l</a>
                    <ul class="hidden-manu3 drop">
                        <li class="menu-h"><a href="#">F - l i s t</a></li>
                        <li class="menu-h"><a href="#">r a n k</a></li>
                    </ul>
                </li>
                <li class="m-name4 m-name">
                    <a href="#" class="m-mname m-mname4">C a n l d e r</a>
                </li>
            </ul>
        </div>
        <div class="side-icon">
            <div class="image1 icon">
                <a href="#" class="icon-a"><img src="img/user.png" alt="" /></a>
            </div>
            <div class="image2 icon">
                <a href="#" ><img src="img/bell.png" alt="" /></a>
            </div>
            <div class="image3 icon">
                <img src="img/pin.png" alt="" />
            </div>
            <div class="side-text">
                <p>&#169; 2019 MUSICLINK <sapn class=>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</sapn></p>
            </div>
        </div>    
    </header>   
   
    <section style="z-index: 1;">
        <div id="1" style="background-color: white; width: 100%; height: 100%; position: relative;">
            <div style="background-color: #FDF1F1; position: absolute; width: 100%; height: 7%; top: 5%;" id="menuList">
                <div style="background-color: #FDF1F1; position: absolute; width: 50%; height: 100%; text-align: center; line-height: 50px; font-size: larger;" id="menuList1" onmouseup="">
                    회원 관리
                    <div style="background-color: thistle; width: 100%; height: 180%; line-height: 35px; border-radius: 25px; position: absolute; z-index: 5;">
                        <div style="position: absolute; width: 100%; height: 33%;">회원 열람</div>
                        <div style="position: absolute; width: 100%; height: 33%; top: 33%;">회원 금지</div>
                        <div style="position: absolute; width: 100%; height: 33%; top: 66%;">금지 해제</div>
                    </div>
                </div>
                <div style="background-color: #FDF1F1; position: absolute; width: 50%; height: 100%; right: 0%; text-align: center; line-height: 50px; font-size: larger;" id="menuList2">
                    등록 관리
                    <div style="background-color: thistle; width: 100%; height: 120%; line-height: 35px; border-radius: 25px; position: absolute; z-index: 5;">
                            <div style="position: absolute; width: 100%; height: 50%;">아티스트 등록 관리</div>
                            <div style="position: absolute; width: 100%; height: 50%; top: 50%;">기획자 등록 관리</div>
                    </div>
                </div>
            </div>
        
        <div style="background-color: yellow; position: absolute; width: 100%; height: 50%; top: 15%;" id="pictureBrowser">
            <button id="showDetail" style="background-color: black; position: absolute; top: 45%; left: 45%; width: 10%; height: 10%;">상세 보기</button>
            <button style="background-color: black; position: absolute; width: 8%; height: 8%; bottom: 8%; left: 35%;" id="prev" onclick="prev();">&lt;prev</button>
            <button style="background-color: black; position: absolute; width: 8%; height: 8%; bottom: 8%; right: 35%;" id="next" onclick="next();">&gt;next</button>
            <div style="background-color: yellow; position: absolute; top: 82.5%; left: 45%; width: 10%; height: 10%; text-align: center; line-height: 40px; font-size: larger;" id="nowDay"></div>
            <script>
                var date = new Date();
                var year = date.getFullYear();
                var month = date.getMonth()+1;
                var day = date.getDate();
                document.getElementById("nowDay").innerHTML = year + "-" + month + "-" + day;
            </script>
            <div style="background-color: beige; position: absolute; top: 100%; width: 100%; min-height: 10%; text-align: center; line-height: 40px; font-size: small;" id="monthDays"></div>
            <script>
                var lastDay = (new Date(date.getFullYear(), date.getMonth()+1, 0)).getDate();
                var days = "";
                for(var i = 1; i <= lastDay; i++){
                    days += "<span class='dayNum' onclick='pickDate("+i+");'>"+i+"</span>";
                }
                document.getElementById("monthDays").innerHTML = days;


                function printDays() {
                    var lastDay = (new Date(year, month, 0)).getDate();
                    var days = "";
                    for(var i = 1; i <= lastDay; i++){
                    days += "<span class='dayNum' onclick='pickDate("+i+");'>"+i+"</span>";
                    }
                    document.getElementById("monthDays").innerHTML = days;
                }

                function pickDate(num) {
                    day = num;
                    console.log(num);
                    document.getElementById("nowDay").innerHTML = year + "-" + month + "-" + day;
                }
                function prev() {
                    month -= 1;
                    if(month<1){
                        year -= 1;
                        month = 12;
                    }
                    document.getElementById("nowDay").innerHTML = year + "-" + month + "-" + day;
                    printDays();
                }
                function next() {
                    month += 1;
                    if(month>12){
                        year += 1;
                        month = 1;
                    }
                    document.getElementById("nowDay").innerHTML = year + "-" + month + "-" + day;
                    printDays();
                }
                
            </script>

        </div>    




        
        </div>


    </section>
    <h1 class="htext">M Y P A G E</h1>
    
    
    <footer>
        <div class="ft-text">
            <h2 class="ft-text1 ft-h1">The most important step is understanding and.</h2><br>
            <h2 class="ft-text1 ft-h2">Empathizing with project.</h2>
        </div>
        <h1 class="ft-txt1">뮤직링크는 e비지니스 엔터테인먼트 입니다.</h1>
        <h1 class="ft-txt2">MUSIC LINK</h1>
        <div class="ft-content">
            <div class="content-left">
                <div class="left-top">
                    <ul class="lt">COMPANY
                        <li>(주)뮤직링크</li>
                    </ul>
                    <ul class="rt">ADDRESS
                        <li>서울특별시 강남구 테헤란로 14길 6 남도빌딩 2F</li>
                    </ul>
                </div>
                <div class="left-bot">
                    <ul class="lbl">BUSINESS LICENSE
                        <li>000-11-22222</li>
                    </ul>
                    <ul class="lbm">TEL
                        <li>02-562-2378</li>
                    </ul>
                    <ul class="lbr">E-MAIL
                        <li>qkrtlsdn@qkr.tlsdn</li>
                    </ul>
                </div>
            </div>
            <div class="content-right">
                <a href="#">&nbsp;&nbsp;&nbsp;
                    R E Q E U S T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#62;</a>
                <a href="#">&nbsp;&nbsp;&nbsp;
                    L O C A T I O N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#62;</a>
            </div>
        </div>
    </footer>
    <div class="map">
        <div class="map-bg">
            <h1 class="map-h1">&#215;</h1>
            <h1 class="map-txt">오시는길</h1>
            <div class="map-cont">
                <div class="map-cont-left"></div>
                <div class="map-cont-right">
                    <div class="cont-right1">
                        <div class="right-txt1">ADDRESS</div>
                        <div class="right-txt2">서울시 강남구..</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">TEL</div>
                        <div class="right-txt2">02-1111-1111</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">SUB</div>
                        <div class="right-txt2">2호선 - 강남, 역삼역</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">BUS</div>
                        <div class="right-txt2">146번, 360번</div>
                    </div>
                    <div class="cont-right2">
                        <a href="#" class="map-button">NAVER 지도로 바로 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="js/respond.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/slick.min.js"></script>
<script>

	$("#toggle").click(function(){
		$(this).toggleClass("on");
		$("#resize").toggleClass("active");	
	});
    
    $(".image3").click(function(){
        $(".map").css({"display":"block","width":"100%","height":"80%","padding-top":"10%","opacity":"0.98", "z-index":"9"});
    });
    $(".map-h1").click(function(){
        $(".map").css("display","none");
    });
    





	//new WOW().init();
	
	
</script>
</body>
</html>