<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link href="../css/slick.css" rel="stylesheet" />
    <link href="../css/slick-theme.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <link href="../css/mfooter.css" rel="stylesheet" />
<title>Insert title here</title>
<style>
    section{width:70%; margin:0 auto; box-shadow: 5px 5px 10px 8px lightgray; margin-top: 250px; position: relative;
    background: #fff; height:1070px; font-family: "Roboto", sans-serif;} 
    
    .htext{text-align: center; font-size: 100px; height:0; position: absolute; top:355px; left:50%; transform: translateX(-50%); color: rgb(224, 224, 224);} 
    
	#enrollForm{width: 70%; position: absolute; left:50%; transform: translateX(-50%); text-align: center;}
	#insertInfo{width: 80%; text-align: left; display:inline-block; border-spacing: 40px; border-collapse: separate;}
	.mj{text-align: center; padding-top: 40px; padding-bottom: 20px;} 
	.label{width:35%; font-size: 12pt;}
	#enrollSubmit{margin-top:30px;}
    #btn{text-align: center;}
    
    .btn{
		padding: 7px 18px;
		color: #fff;
    	background-color: #333333;
    	border-color: #333333;
    	text-align: center;
    	font-weight: 400;
        font-size: 0.875rem;
    	line-height: 1.5;
    	border-radius: 0.25rem;
    	font-family: "Roboto", sans-serif;
    	vertical-align: middle;
    	white-space: nowrap;
    	border: 1px solid transparent;
	}
	.form-control{
		width: 150px;
    	border-radius: 4px;
    	box-shadow: none;
    	padding: 0.375rem 0.75rem;
    	font-size: 0.875rem;
   		line-height: 1.5;
    	vertical-align: middle;
    	border: 1px solid #ced4da;
    	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
	#user_year{width: 58px;}
    #user_month, #user_day{width: 40px;}
    
    #zonecodeInput{display:inline-block; margin-bottom: 7px; vertical-align: middle;}
    #addressInput{display:inline-block;}
    #detailAddressInput{display:inline-block;}
	
	
</style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
            logo
            </div>
            <div id="toggle">
                <div class="span" id="one"></div>
                <div class="span" id="two"></div>
                <div class="span" id="three"></div>
            </div>
        </nav>

        <div id="resize">
            <ul class="menu">
                <li class="m-name1 m-name">
                    <a href="#" class="m-mname m-mname1"> M u s i c L i n k</a>
                    <ul class="hidden-manu1 drop">
                        <li class="menu-h"><a href="#">About us</a></li>
                        <li class="menu-h"><a href="#">F A Q</a></li>
                        <li class="menu-h"><a href="#">Q &#38; A</a></li>
                    </ul>
                </li>
                <li class="m-name2 m-name">
                    <a href="#" class="m-mname m-mname2">A r t i s t</a>
                    <ul class="hidden-manu2 drop">
                        <li class="menu-h"><a href="#">p r o f i l e</a></li>
                        <li class="menu-h"><a href="#">A - l i s t</a></li>
                        <li class="menu-h"><a href="#">r a n k</a></li>
                    </ul>
                </li>
                <li class="m-name3 m-name">
                    <a href="#" class="m-mname m-mname3">F e s t i v a l</a>
                    <ul class="hidden-manu3 drop">
                        <li class="menu-h"><a href="#">F - l i s t</a></li>
                        <li class="menu-h"><a href="#">r a n k</a></li>
                    </ul>
                </li>
                <li class="m-name4 m-name">
                    <a href="#" class="m-mname m-mname4">C a n l d e r</a>
                </li>
            </ul>
        </div>
        <div class="side-icon">
            <div class="image1 icon">
                <a href="#" class="icon-a"><img src="../img/user.png" alt="" /></a>
            </div>
            <div class="image2 icon">
                <a href="#" ><img src="../img/bell.png" alt="" /></a>
            </div>
            <div class="image3 icon">
                <img src="../img/pin.png" alt="" />
            </div>
            <div class="side-text">
                <p>&#169; 2019 MUSICLINK <sapn class=>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</sapn></p>
            </div>
        </div>    
    </header>

	<section style="z-index: 1;">
		<div id="contentArea">
			<form id="enrollForm">
			<h2 class="mj">COMPANY JOIN</h2>
				<table border="1" id="insertInfo">
					<tr>
						<td class="label"><label>아이디</label></td>
						<td class="input">
						<input type="text" id="company_id" class="form-control input-default enroll" placeholder="아이디를 입력하세요">
						<input type="button"  class="btn mb-1 btn-dark" id="id_check" value="중복확인"></td>
					</tr>
					<tr>
						<td class="label"><label>비밀번호</label></td>
						<td class="input"><input type="password" id="company_pwd" class="form-control input-default enroll" placeholder="비밀번호를 입력하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>비밀번호 재확인</label></td>
						<td class="input"><input type="password" id="company_pwd2" class="form-control input-default enroll" placeholder="비밀번호를 확인하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>회사명</label></td>
						<td class="input"><input type="text" id="company_name" class="form-control input-default enroll" placeholder="회사명을 입력하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>회사 주소</label></td>
						<td class="input">
							<input type="text" class="form-control input-default enroll" id="zonecodeInput" readonly/>&nbsp;
							<input type="button" class="btn mb-1 btn-dark" onClick="openDaumZipAddress();" value = "우편번호"/><br>
							
							<input type="text" class="form-control input-default enroll" id="addressInput" readonly/>
							<input type="text" class="form-control input-default enroll" id="detailAddressInput" placeholder="상세주소"/>
							<div id="wrap" style="display:none;border:1px solid #DDDDDD;width:100%;margin-top:5px"></div>
       					</td>
					</tr>
					<tr>
						<td class="label"><label>회사 전화번호</label></td>
						<td class="input"><input type="tel" id="company_tel" class="form-control input-default enroll" placeholder="회사 전화번호를 입력하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>담당자 이름</label></td>
						<td class="input"><input type="text" id="user_name" class="form-control input-default enroll" placeholder="담당자 이름을 입력하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>전화번호</label></td>
						<td class="input"><input type="tel" id="user_phone" class="form-control input-default enroll" placeholder="담당자 전화번호를 입력하세요"></td>
					</tr>
					<tr>
						<td class="label"><label>이메일</label></td>
						<td class="input"><input type="email" id="user_email" class="form-control input-default enroll" placeholder="이메일을 입력하세요"></td>
					</tr>
					<tr>
						<td colspan=2>
							개인정보 동의서<br>
       						<input type="checkbox" class="text_input" id="agree" value="agree_Y"><label style="font-size: 14px;">동의합니다.</label>
       						<br>자세한 내용은 구현할 때
						</td>
					</tr>
					<tr>
						<td id="btn" colspan=2>
							<input type="submit"  class="btn mb-1 btn-dark" id="enrollSubmit" value="가입">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="button"  class="btn mb-1 btn-dark" id="enrollSubmit" value="취소">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	<h1 class="htext">J O I N</h1>
	
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f12f8983e3395277ce748044a97f80ae&libraries=services"></script>
	<script>
	var address = '서울 강남구 테헤란로14길 6';
	var zonecode = "";
	function openDaumZipAddress() {
        // 우편번호 찾기 화면을 넣을 element를 지정
        var element_wrap = document.getElementById("wrap");

        // wrap 레이어가 off된 상태라면 다음 우편번호 레이어를 open 한다.
        if(jQuery("#wrap").css("display") == "none") {
            new daum.Postcode({
                oncomplete:function(data) {
                    jQuery("#zonecode").val(data.zonecode);
                    jQuery("#address").val(data.address);
                    jQuery("#address_detail").focus();
                    address = data.address;
                    zonecode = data.zonecode;
                   	console.log(data.zonecode);
                    $('#addressInput').val(address);
                    $('#zonecodeInput').val(zonecode);
                    mapSetting();
                }

                // 사용자가 값을 주소를 선택해서 레이어를 닫을 경우
                // 다음 주소록 레이어를 완전히 종료 시킨다.
                , onclose:function(state) {
                    if(state === "COMPLETE_CLOSE") {

                        // 콜백함수를 실행하여 슬라이드 업 기능이 실행 완료후 작업을 진행한다.
                        offDaumZipAddress(function() {
                            element_wrap.style.display = "none";
                        });
                    }
                }
            }).embed(element_wrap);

            // 슬라이드 다운 기능을 이용해 레이어 창을 오픈한다.
            jQuery("#wrap").slideDown();
        }
        
        // warp 레이어가 open된 상태라면 다음 우편번호 레이어를 off 상태로 변경한다.
        else {

            // 콜백함수를 실행하여 슬라이드 업 기능이 실행 완료후 작업을 진행한다.
            offDaumZipAddress(function() {
                element_wrap.style.display = "none";
                return false;
            });
        }
        
    }
	
	 function offDaumZipAddress() {
	        // 슬라이드 업 기능을 이용해 레이어 창을 닫는다.
	        jQuery("#wrap").slideUp();
	    }
	    
	    var toggler = document.querySelector('.toggle-switch');
	
	    toggler.onclick = function(){
	      toggler.classList.toggle('active');
	    }
	</script>
    
    
    <footer>
        <div class="ft-text">
            <h2 class="ft-text1 ft-h1">The most important step is understanding and.</h2><br>
            <h2 class="ft-text1 ft-h2">Empathizing with project.</h2>
        </div>
        <h1 class="ft-txt1">뮤직링크는 e비지니스 엔터테인먼트 입니다.</h1>
        <h1 class="ft-txt2">MUSIC LINK</h1>
        <div class="ft-content">
            <div class="content-left">
                <div class="left-top">
                    <ul class="lt">COMPANY
                        <li>(주)뮤직링크</li>
                    </ul>
                    <ul class="rt">ADDRESS
                        <li>서울특별시 강남구 테헤란로 14길 6 남도빌딩 2F</li>
                    </ul>
                </div>
                <div class="left-bot">
                    <ul class="lbl">BUSINESS LICENSE
                        <li>000-11-22222</li>
                    </ul>
                    <ul class="lbm">TEL
                        <li>02-562-2378</li>
                    </ul>
                    <ul class="lbr">E-MAIL
                        <li>qkrtlsdn@qkr.tlsdn</li>
                    </ul>
                </div>
            </div>
            <div class="content-right">
                <a href="#">&nbsp;&nbsp;&nbsp;
                    R E Q E U S T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#62;</a>
                <a href="#">&nbsp;&nbsp;&nbsp;
                    L O C A T I O N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#62;</a>
            </div>
        </div>
    </footer>
    <div class="map">
        <div class="map-bg">
            <h1 class="map-h1">&#215;</h1>
            <h1 class="map-txt">오시는길</h1>
            <div class="map-cont">
                <div class="map-cont-left"></div>
                <div class="map-cont-right">
                    <div class="cont-right1">
                        <div class="right-txt1">ADDRESS</div>
                        <div class="right-txt2">서울시 강남구..</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">TEL</div>
                        <div class="right-txt2">02-1111-1111</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">SUB</div>
                        <div class="right-txt2">2호선 - 강남, 역삼역</div>
                    </div>
                    <div class="cont-right1">
                        <div class="right-txt1">BUS</div>
                        <div class="right-txt2">146번, 360번</div>
                    </div>
                    <div class="cont-right2">
                        <a href="#" class="map-button">NAVER 지도로 바로 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="../js/respond.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script src="../js/parallax.min.js"></script>
<script src="../js/slick.min.js"></script>
<script>

	$("#toggle").click(function(){
		$(this).toggleClass("on");
		$("#resize").toggleClass("active");	
	});
    
    $(".image3").click(function(){
        $(".map").css({"display":"block","width":"100%","height":"80%","padding-top":"10%","opacity":"0.98", "z-index":"9"});
    });
    $(".map-h1").click(function(){
        $(".map").css("display","none");
    });
    
    
    
	//new WOW().init();
	
	
</script>
</body>
</html>